{% extends '::base.html.twig' %}

{% block body %}
	<h1>Formulaire d'inscription</h1>
	
	<form action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	
	    <input type="submit" value="S'inscrire" />
	</form>
{% endblock %}