{% extends '::base.html.twig' %}

{% block body %}
	<h1>Poser votre question</h1>
	
	<form action="{{ path('answer_new', {'id_question': id_question}) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	
	    <input type="submit" value="Répondre" />
	</form>
{% endblock %}