{% extends '::base.html.twig' %}

{% block body %}	
	<h1>Poser votre question</h1>
	
	<form action="{{ path('question_new') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	
	    <input type="submit" />
	</form>
{% endblock %}